@font-face {
    font-family: 'YS-Bold';
    src: url('./YandexSansText-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'YS-Black';
    src: url('./YandexSansText-Black.woff') format('woff');
}
@font-face {
    font-family: 'YS-Medium';
    src: url('./YandexSansText-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'YS-Regular';
    src: url('./YandexSansText-Regular.woff2') format('woff2');
}
