.fourth-section{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 0;
}
.fourth-section__title{

}
.fourth-section__text{

}
.fourth-section__wrapper{

}
.fourth-section__img{
    width: 360px;
    height: 368px;
    object-position: -24px -5px;
}