.second-section{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-section__title{
    font-size: 32px;
    padding-bottom: 28px;
}
.second-section__list{
    display: flex;
    flex-direction: column;

}
.second-section__item{
    padding-bottom: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:last-child{
        line-height: 1.1;
        padding-bottom: 0;
    }
}
.second-section__item-text{
    width: 212px;
    padding-left: 15px;
}