.first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 38px;
    box-sizing: border-box;
    background: 
    linear-gradient( to right,  rgba(255, 92, 77, .2), rgba(235, 70, 159, .2), rgba(131, 65, 239, .2), rgba(63, 104, 249, .2));
}
.first-section__content-wrapper{

}

.first-section__title{
    width: 223px;
    padding-bottom: 26px;
}
.first-section__title-text-img{
    align-self: flex-start;
    margin-bottom: 25px;
}
.first-section__title-text{
    position: relative;
    width: 311px;
    line-height: 130%;
}
.first-section__title-price{
    position: absolute;
    top: 44px;
    right: 97px;
}
.first-section__samokat{
    width: 354px;
    height: 308px;
    object-position: -26px -6px;

}
.first-section__samokat-text{
    position: absolute;
    top: 401px;
    left: 73px;
}