.third-section{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 37px;
}
.third-section__wrapper{

}
.third-section__title{

}
.third-section__text{
    width: 300px;
}