.third-section{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third-section__title{
    margin-bottom: 32px;
}
.third-section__text{
    width: 300px;
}