.slider{
    display: flex;
    flex-direction: column;
    width: 375px;
    overflow-x: hidden;
    align-self: center;
}
.slider-img{
    width: 343px;
    height: 343px;
}
.slider__main-img{

    padding-left: 16px;
    padding-right: 16px
}

.slider__container {
    padding-top: 43px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0); /* Начальное положение */
  }
.slider__container-button{
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    justify-content: center;
    gap: 12px;
}
.slider__button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(255,222,64,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:disabled{
        opacity: .5;
    }
}
